<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper"> 
        <form action="">
            <h2>Vote pour ton candidat</h2> > 
            <i class='bx  bxs-arrow-to-bottom-stroke'  style='color:#32e5df'></i> 
            <h1>                                                                                                

            </h1>
            <div class='input-field'>
                <input type="text" placeholder="Identifiant" required>
                <i class='bx  bx-user'  style='color:#34dede'></i> 
            </div>

            <h1>             </h1>
         <button type="submit" class="btn">Se connecter</button>
        </form>


    /div>
        
    
        
 
    
</body>
</html>